@font-face {
    font-family: Cinzel;
    src: url("fonts/CinzelDecorative-Regular.ttf");
}

@font-face {
    font-family: Alegreya;
    src: url("fonts/Alegreya_Sans_SC/AlegreyaSansSC-Regular.ttf")
}


body {
 
    background: linear-gradient(to bottom, #130018, #4a2e5f);
   margin: 0;
    margin-top: 0;
    
}


p {
    color: white;
    font-family: sans-serif;
    
}



nav {
    z-index: 31;
    position: fixed;
    top: 0px;
      align-content: center;
    text-align: center;
   font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 200;
    width: 100%;
    padding-bottom: 30px;
    padding-top: 30px;
    background: linear-gradient(to top, rgba(255,0,0,0), rgba(0,0,50,0.7));
   /* border-bottom-style: solid;*/
    border-bottom-width: 0.5px;
    border-bottom-color: #778ca0;
  
    
    
}

.navbar-fixed-top.scrolled {
  background: black !important;
  transition: background-color 200ms linear;
}

a {
  text-decoration: none;
    color: #c1b8b0;
    margin-top: 30px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 20px;
    
}

a:hover {
    color: #ffbb76;
    
}

nav.a:active {
    color: #ffbb76;
    
}
nav.a:visited {
    color: #c1b8b0;
    
}
#currentLink {
    color: #ffbb76;
    font-weight: bold;
    
}

  


#aboutIntro {

margin-top: 150px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
padding-bottom: 100px;
    
}
#top {
   
    height: 800px;
    background-image:url(images/AboutImages/starryCity2.jpg);
    background-position: center;
    
}

#title {

    color: white;
    font-family: Cinzel;
    text-align: center;
margin-right: 7%;
    width: 60%;
    float: right;
    font-size: 40px;
    
    
}
#aboutP {
    margin-right:10%;
    float: right;
    color: white;
    width: 50%;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
    padding-bottom: 100px;
}
#ProfilePic {
    
    float:left;
    margin-top: 60px;
   
}
#aboutIntro a {
    
     margin-top: 90px;
    font-size: 20px;
    font-weight: bold;
   
    color: white;
   
}

#InfoBubbles{
    background-color: black;
  
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    font-family: 'Open Sans', sans-serif;
}

.Info {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    
}

h2 {
    width: 50%;
    color: white;
    margin: auto;
       font-family: Cinzel;
    font-size: 30px;
}

h3 {
    color:white;
    width: 50%;
    margin: auto;
       font-family: Cinzel;
    font-size: 30px;
}

#Education {
    
    margin-left: 10%;
    width: 35%;
    float: left;
    text-align: center;
    
}
#Freelancing {
    
    float: right;
margin-right:10%;
    width: 35%;
    text-align: center;
}

footer {
    
    margin-bottom: none;
    bottom: 0;
    width: 100%; 
    background: black;
    padding-top: 10px;
    padding-bottom: 10px;
    color: grey;
    text-align: center;
    
    
}
