
/*

Colour: Background Dark Blue: #000618
 mid-tone blue: #2791b4


*/



@font-face {
    font-family: Cinzel;
    src: url("fonts/CinzelDecorative-Regular.ttf");
}

@font-face {
    font-family: Alegreya;
    src: url("fonts/Alegreya_Sans_SC/AlegreyaSansSC-Regular.ttf")
}






body {
 
     background-color: #000618;
   margin: 0;
    margin-top: 0;
    
}



nav {
    z-index: 31;
    position: fixed;
      align-content: center;
    text-align: center;
   font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 200;
    width: 100%;
    padding-bottom: 30px;
    padding-top: 30px;
    background: linear-gradient(to top, rgba(255,0,0,0), rgba(0,0,50,0.7));
   /* border-bottom-style: solid;*/
    border-bottom-width: 0.5px;
    border-bottom-color: #778ca0;
  
    
    
}

.navbar-fixed-top.scrolled {
  background: black !important;
  transition: background-color 200ms linear;
}

a {
  text-decoration: none;
    color: #c1b8b0;
    margin-top: 30px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 20px;
    
}

a:hover {
    color: #ffbb76;
    
}

nav.a:active {
    color: #ffbb76;
    
}
nav.a:visited {
    color: #c1b8b0;
    
}
#currentLink {
    color: #ffbb76;
    font-weight: bold;
    
}
//*-------parallax------------- *//


.parallax-container {
  position: fixed;
  overflow: visible;
  width: 100%;
  height: 850px;
}

.parallax-layer {
  width: 100%;
  height: 1080px;
  position: fixed;
  left: 0;
  top: 0;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 1920px 1080px;
}


  .layer-0 {
    top: 0;
    z-index: 5;
    background-image: url(images/parallax2/sky.jpg);
    
  }



  .layer-1 {
    top: -40px;
    z-index: 7;
    background-image: url(images/parallax2/mountains.png);
  }



  .layer-2 {
    top: -50px;
    z-index: 10;
    background-image: url(images/parallax2/forest.png);
  }


  .layer-3 {
    top: -20px;
    z-index: 15;
    background-image: url(images/parallax2/trees.png);
      
  }
  .layer-4 {
    top: -50px;
    z-index: 20;
    background-image: url(images/parallax2/grass.png);
  }
  .layer-5 {
    top: 50px;
    z-index: 25;
    background-image: url(images/parallax2/nothing.png);
  }
  .layer-6 {
    top: 50px;
    z-index: 27;
    background-image: url(images/parallax2/frontgrass.png);
  }

  
.content {
    z-index: 30;
  position: absolute;
  top: 1100px;
  background: #000715;
  width: 100%;
  min-height: 1500px;
}



#HeadBanner {
    
    margin: none;
    width: 100%;
    padding-bottom: 100px;
    
}

h1 {
    margin-top: 100px;
    color: white;
    width: 100%;
    text-align: center;
    align-content: center;
    font-size: 40px;
    font-family: Cinzel;
    margin-bottom: 0px;
}
h2 {
    margin-top: 10px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: 100;
    text-align: center;
    
}
#aboutBackground {
    z-index: 10;
    position: absolute;
    left: 5%;;
    right: 0;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    
    
}

#aboutImage {
    
    width: 95%;
    filter: blur(10px) brightness(80%);
    height: 750px;
}
#About {
    
    z-index: 20;
    position: absolute;
    width: 80%;
    left: 10%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
    border-color: #2791b4;
    padding-bottom: 50px;
    padding-top: 50px;
  
}

#AboutText {
    position: relative;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    width: 30%;
    line-height: 2;
    background: rgba(0,0,0, 0.4);
    padding: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 80px;
    float: right;
}

#AboutText a {
    color: #2791b4;
    font-weight: bolder;
    margin-left: 0;
    
    
}
h3 {
    
    float: left;
    width: 10%;
    text-align: center;
   padding: 15px;
    padding-left: 40px;
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    color: white;
    background: #2791b4;
    
}
#Contact {
    padding-top: 100px;
    padding-bottom: 50px;
    margin-bottom: 50px;
    width: 100%;
    background: linear-gradient(to bottom, #000618, #132e53);
    margin-top: 900px;
    float: left;
}
h4 {
    width: 40%;
    margin-left: 15%;
    align-content: center;
    text-align: center;
    color: white;
    font-family: 'Open Sans';
    font-size: 30px;
    background: #2791b4;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    
}
#contactContent{
    float: right;
    width: 30%;
    
}
#contactText {
    width: 70%;
    font-size: 15px;
    margin-bottom: 40px;
    line-height: 2;
    text-align: center;
    font-family: 'Open Sans';
    color: white;
   
    margin-right: 10%;
}

#emailAdress {
    width: 100;
    margin-right: 11%;
    font-size: 20px;
    color: white;
    font-family: Cinzel;
    font-weight: bold;
    letter-spacing: 4px;
}

#socialIcons {
    height: 100px;
    width: 20%;
    display: inline-block;
    margin-left: 13%;
    margin-top: 50px;
    
}
#socialIcons a {
    margin: 0;
    
    
}
    #socialIcons img{
        margin-left: 5px;
        margin-right: 5px;
        width: 50px;
        filter: invert(100%); 
    }


/* contact form _____________________________________________ */

form {
    float: left;
    width: 50%;
    margin-left: 10%;
    
}
form label {
    color: #2791b4 ;
    font-family: 'Open Sans', sans-serif;
    
}


input[type=text], select, textarea {
   
    background:  #203e67;
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #2791b4; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 10px; /* Add a top margin */
    color: white;
    font-size: 15px;
    font-family: 'Open Sans';
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
#message {
    height: 200px;
    
}


input[type=text]:focus {
   background: #2791b4;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color:  #2791b4;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #91e6ff;
}

/* ______________________________________________ */

footer {
    position: absolute;
    margin-bottom: none;
    bottom: 0;
    width: 100%; 
    background: black;
    padding-top: 10px;
    padding-bottom: 10px;
    color: grey;
    text-align: center;
    
    
}
